@model StorySelectionViewModel

@*
    This view is not supposed to display public AND private stories.
    It should ONLY display all the public stories. If a user wants to play a
    private Story, they must search for it by Title and then add the code
    when clicking "Play", or seach for it by the code and immediately start
    playing it when clicking "Play". 
*@

<div class="text-center">

    <h1 class="display-4">Here you can browse stories!</h1>

    <br />

    <h5>All public stories:</h5> @*This should be a partial*@
    <div class="row g-4">
        @foreach (var story in Model.PublicStories)
        {
            <div class="col-md-4">
                <div class="card bg-light shadow-sm h-100 border-0">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@story.Title</h5>
                        <p class="card-text text-muted">@story.Description</p>

                        <div class="mt-auto">
                            <span class="badge bg-primary me-2">@story.DifficultyLevel</span>
                            <span class="badge bg-secondary">@story.Accessible</span>
                        </div>
                    </div>

                    <div class="card-footer bg-transparent border-0">
                        <a asp-controller="StoryPlaying" asp-action="StartStory" asp-route-storyId="@story.StoryId"
                            class="btn btn-sm btn-success w-100">Play</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <br />
    <br />

    <h5>All private stories:</h5> @*This should be a partial*@
    <div class="row g-4">
        @foreach (var story in Model.PrivateStories)
        {
            <div class="col-md-4">
                <div class="card bg-light shadow-sm h-100 border-0">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@story.Title</h5>
                        <p class="card-text text-muted">@story.Description</p>

                        <div class="mt-auto">
                            <span class="badge bg-primary me-2">@story.DifficultyLevel</span>
                            <span class="badge bg-secondary">@story.Accessible</span>
                        </div>
                    </div>

                    <div class="card-footer bg-transparent border-0">
                        <a asp-controller="StoryPlaying" asp-action="StartStory" asp-route-storyId="@story.StoryId"
                            class="btn btn-sm btn-success w-100">Play</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>