@using Jam.Models.Enums
@model PlaySceneViewModel

<div class="scene-container">
    <p>Your current level: @Model.CurrentLevel</p>
    <p>@Model.SceneText</p>

    @if (Model.SceneType == SceneType.Introduction)
    {
        <form method="post" asp-action="PlayScene">
            <input type="hidden" name="SceneId" value="@Model.SceneId" />
            <input type="hidden" name="SessionId" value="@Model.SessionId" />
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    }
    else if (Model.SceneType == SceneType.Question)
    {
        <h3>@Model.Question?.QuestionText</h3>

        <form method="post" asp-action="PlayScene">
            <input type="hidden" name="SceneId" value="@Model.SceneId" />
            <input type="hidden" name="SessionId" value="@Model.SessionId" />

            @foreach (var answer in Model.AnswerOptions ?? new List<AnswerOption>())
            {
                <div>
                    <input type="radio" name="SelectedAnswerId" value="@answer.AnswerOptionId" id="opt_@answer.AnswerOptionId"
                        required />
                    <label for="opt_@answer.AnswerOptionId">@answer.Answer</label>
                </div>
            }

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
    else if (Model.SceneType == SceneType.EndingGood ||
    Model.SceneType == SceneType.EndingNeutral ||
    Model.SceneType == SceneType.EndingBad)
    {
        <form method="post" asp-action="PlayScene">
            <input type="hidden" name="SceneId" value="@Model.SceneId" />
            <input type="hidden" name="SessionId" value="@Model.SessionId" />
            <input type="hidden" name="CurrentScore" value="@Model.CurrentScore" />
            <input type="hidden" name="CurrentLevel" value="@Model.CurrentLevel" />
            <button type="submit" class="btn btn-success">See Results</button>
        </form>
    }
</div>