@model Jam.ViewModels.EditStoryViewModel

<h2>@(Model.IsEditMode ? "Edit Story" : "Create New Story")</h2>

<form asp-controller="CreateGame" asp-action="CreateOrEdit" method="post" novalidate>
    @Html.AntiForgeryToken()    
    
    <input type="hidden" asp-for="Step" />
    <input type="hidden" asp-for="IsEditMode" />
    <input type="hidden" asp-for="StoryId" />
    

    @{
        var partials = new[]
        {
           "~/Views/Shared/_Create/_CreateIntro.cshtml",
            "~/Views/Shared/_Create/_CreateQuestions.cshtml",
            "~/Views/Shared/_Create/_CreateEndings.cshtml"
        };
    }
    <p>Current step: @Model.Step</p>
    <partial name="@partials[Model.Step - 1]" model="Model" />

    <div class="mt-3 d-flex justify-content-between">
        @if (Model.Step > 1)
        {
            <button type="submit" name="action" value="Back" class="btn btn-secondary">Back</button>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
        }

        @if (Model.Step < partials.Length)
        {
            <button type="submit" name="action" value="Next" class="btn btn-primary">Next</button>
        }
        else
        {
            <button type="submit" name="action" value="Finish" class="btn btn-success">
                @(Model.IsEditMode ? "Save Changes" : "Finish")
            </button>
        }
    </div>
    <input type="hidden" asp-for="GameCode" />
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



